code {
    padding: 0.2% 0.5% 0.2% 0.5% ;
    border-radius: 5px;
}
@media all and (prefers-color-scheme: dark) {
    code {
        background-color: #6e6e6e;
    }
    /*pre:has(> code) {*/
    pre {
        background-color: #6e6e6e;
    }
}
@media all and (prefers-color-scheme: light) {
    code {
        background-color: #f6f8fa;
    }
    /*pre:has(> code) {*/
    pre {
        background-color: #f6f8fa;
    }
/*.hljs{
    background: #f6f8fa;
}*/
/*pre:has(> code) {*/
pre {
    overflow: auto;
    border-radius: 5px;
    padding: 0.2% 0.5% 0.2% 0.5% ;
}
/* restore block code element*/
pre > code {
    border-radius: unset;
    background-color: unset;
}

