<!DOCTYPE html>
<html>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body>
    <div class="container">
      <div class="header"> {{ partial "header.html" . }} </div>
      <div class="middle">
        <!-- article_list can only when article is enabled -->
        {{ $article := false }}
        {{ if or .Params.article_list .Params.article }}
          {{ $article = true }}
        {{ end }}
        <!-- {{ .Params.article_list }}, {{ .Params.article }}, {{ $article }} -->

        {{ $pages := $.Data.Pages.ByPublishDate.Reverse }}
        {{ if .Params.ByPublishDate }}
          {{ $pages = $.Data.Pages.ByPublishDate }}
        {{ end }}

        {{ if not $article }}         <!-- branch list(default) -->
        <div id="TitleWithToc"> </div>
        <div id="content">
          <dl>
            {{ range $pages }}
            <dt>
              {{ $sub_article_prefix := "" }}
              {{ with .Page.PublishDate }}
                {{ $sub_article_prefix = .Format "2006-01-02" }}
              {{ end }}
              {{ $sub_article_prefix }} <a href={{ .Permalink }}>{{ .Title }}</a>
            </dt>
            <dd>{{ .Description }}</dd>
            {{ end }}
          </dl>
        </div>
        <div id="Rsidebar"> {{partial "sidebar.html" .}} </div>
        {{ else }}                              <!-- branch article -->
        <!-- left -->
        <div id="TitleWithToc">
          <div id="TitleOfToc">{{ .Title }}</div>
          {{ .TableOfContents }}
        </div>
        <!-- middle -->
        <div id="content"> {{ .Content }} </div>
        <!-- right -->
        <div id="Rsidebar"> {{partial "sidebar.html" .}} </div>
        {{ end }}
      </div>
      <div class="footer">
        {{ partial "taxonomies.html" . }}
        {{ partial "footer.html" . }}
      </div>
    </div>
  </body>
</html>
