<meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<title>{{.Title}}</title>

<!--ref: https://note.qidong.name/2020/07/mermaid/-->
{{ if .Params.code }}
  {{ partial "head_hljs.html" . }}
{{end}}
<!--import first then modify-->

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/footer.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/code.css">
<!-- awesome icon-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/font-awesome@4.7.0/css/font-awesome.min.css" integrity="sha256-eZrrJcwDc/3uDhsdt61sL2oOBY362qM3lon1gyExkL0=" crossorigin="anonymous">

<link rel="icon" id="light-scheme-icon" href="{{ .Site.BaseURL }}/favicons/favicon_B_Light.ico" type="image/x-icon">
<link rel="icon" id="dark-scheme-icon" href="{{ .Site.BaseURL }}/favicons/favicon_B_Dark.ico" type="image/x-icon">
<script src="{{ .Site.BaseURL }}/js/favicon.js"></script> 

{{ if .Params.mermaid }}
  {{ partial "head_mermaid.html" . }}
{{ end }}
