<script>
(function() {
    $("pre > code").each(function(i, block) {
        var codeClass = $(this).parent().attr("class");
        if (codeClass == null || codeClass === "") {
            $(this).addClass("hljs");
        } else {
            var map = {
                js: "javascript",
            };
            if (map[codeClass]) {
                codeClass = map[codeClass];
            }
            $(this).addClass(codeClass);
            //hljs.highlightBlock(this);
        }
    });
});
</script>

<link rel="stylesheet"
      href="/css/hljs/monokai-sublime.min.css">
<link rel="stylesheet"
      href="/css/hljs/line-numbers.min.css">

<!--<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.6.0/build/highlight.min.js"></script>-->
<script src="/js/hljs/highlight.min.js"></script>
<!--<script src="//cdn.jsdelivr.net/npm/highlightjs-line-numbers.js@2.8.0/dist/highlightjs-line-numbers.min.js"></script>-->
<script src="/js/hljs/highlightjs-line-numbers.min.js"></script>

<script>hljs.highlightAll();</script>
<script>hljs.initLineNumbersOnLoad();</script>
