<html>
  <head>
    <meta charset="UTF-8">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/footer.css">

    <link rel="icon" id="light-scheme-icon" href="{{ .Site.BaseURL }}/icons/favicon_B_Light.svg" type="image/svg+xml">
    <link rel="icon" id="dark-scheme-icon" href="{{ .Site.BaseURL }}/icons/favicon_B_Dark.svg" type="image/svg+xml">
    <script src="{{ .Site.BaseURL }}/js/favicon.js"></script> 
  </head>
</html>
