<meta charset="UTF-8">
<title>{{.Title}}</title>

<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/style.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/footer.css">
<link rel="stylesheet" href="{{ .Site.BaseURL }}/css/code.css">
<!-- awesome icon-->
<link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<link rel="icon" id="light-scheme-icon" href="{{ .Site.BaseURL }}/favicons/favicon_B_Light.ico" type="image/x-icon">
<link rel="icon" id="dark-scheme-icon" href="{{ .Site.BaseURL }}/favicons/favicon_B_Dark.ico" type="image/x-icon">
<script src="{{ .Site.BaseURL }}/js/favicon.js"></script> 

<!--ref: https://note.qidong.name/2020/07/mermaid/-->
{{ if .Params.code }}
  {{ partial "head_hljs.html" . }}
{{end}}

{{ if .Params.mermaid }}
  {{ partial "head_mermaid.html" . }}
{{ end }}
