<!DOCTYPE html>
<html>
  <head>
  {{partial "head.html" . }}
  </head>
<body>
    <h1>{{ .Title }}</h1>
    <hr>


<!--Define a selected list, do not use dict. because dict will give a alphabetical order-->
<!-- eg: "blogs:Blogs;tips:Tips;study_notes:Study Notes;about:About"
      dirname: Titlename;
-->
{{ $selected_item_list := split .Site.Params.selected_item_list ";" }}

<dl>
<!--select pairs-->
{{ range $selected_dir_title_pair := $selected_item_list }}
  <!--get the dirname and titlename-->
  {{ $selected_dirname := index (first 1 (split $selected_dir_title_pair ":")) 0 }}
  {{ $titlename := index (first 2 (split $selected_dir_title_pair ":")) 1 }}

  <!--loop the pages, and print the page if matched-->
  {{ range $.Data.Pages }}
    <!--get the sublink which donnot contains the url of current site($.RelPermalink)-->
    {{ $sublink := substr .RelPermalink (len $.RelPermalink)}}
    <!--get the first directory name frome sublink-->
    {{$sub_dir_name := index (first 1 (split $sublink "/")) 0}}
    {{ if eq $sub_dir_name $selected_dirname }}
      <dt>
      <h2><a href={{ .Permalink }}>{{ $titlename }}</a></h2>
      </dt>
      <dd>{{.Description}}</dd>
    {{end}}
  {{ end }}

{{end}}
</dl>

{{partial "footer.html" .}}
</body>
</html>
